<form>
  <div class="form-group">
    <label for="Title">Post Title</label>
    <input type="text" class="form-control" id="post-title" aria-describedby="emailHelp" placeholder="Title Post">
  </div>
  <div class="form-group">
    <label for="Post">Enter Post</label>
    <input type="text" class="form-control" id="Enter-Post" placeholder="Post">
  </div>
  <button type="submit" class="btn btn-primary">Submit Post</button>
</form>